/* Colors */

body {
  --dark: #1F2937;
  --bright: #F9FAF8;
  --off-bright: #E5E7EB;
  --attention: #3882F6;

  background-color: var(--bright);
  color: var(--dark);
}

header, .hero, footer {
  background-color: var(--dark);
  color: var(--off-bright);
}

header h1, .hero h2 {
  color: var(--bright);
}

.quote {
  background-color: var(--off-bright);
}

.action {
  background-color: var(--attention);
  color: var(--bright);
}

button {
  background-color: var(--attention);
  color: var(--bright);
}

/* Font */

body {
  font-family: roboto, sans-serif;
}

header, .hero {
  font-size: 1.125rem;
}

header h1 {
  font-size: 1.5rem;
}

.hero h2 {
  font-size: 3rem;
}

.info h2 {
  font-size: 2.25rem;
}

.quote blockquote {
  font-size: 2.25rem;
  font-style: italic;
}

.quote figcaption {
  font-size: 1.2rem;
  font-weight: bold;
}

button {
  font-size: 1.2rem;
  font-weight: bold;
}

/* Other styling */

img {
  display: block;
  background-color: var(--off-bright); /* For placeholder image */
}

.hero img {
  width: 800px;
  height: 200px;
}

.info img {
  width: 160px;
  height: 160px;

  border-color: var(--attention);
  border-width: 4px;
  border-style: solid;
}

button, .action, .info img {
  border-radius: 12px;
}

button {
  padding: 0.5rem 3ch;
  border-width: 0;
}

.action button {
  border-color: var(--bright);
  border-width: 2px;
  border-style: solid;
}

/* Layout */

body {
  margin: 0;
}

header, footer, main > * {
  margin: 0;
  padding: 0 15%;
}

/* Header layout */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header ul {
  display: flex;

  padding: 0;
  list-style: none;

  gap: 2ch;
}

/* Hero layout */

.hero {
  display: flex;
  justify-content: center;
  align-items: top;
  
  padding-block: 8rem;
  gap: 2ch;
}

.hero h2 {
  margin: 0;
}

.hero p {
  margin: 0.5rem 0;
}

/* Info layout */

.info {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-bottom: 4rem;
}

.info ul {
  display: flex;
  justify-content: center;
  gap: 4ch;

  padding: 0;
  list-style: none;
}

.info li {
  flex-basis: 160px;

}

.info figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;

  margin: 0;

  text-align: center;
}

/* Quote layout */

.quote {
  padding-block: 4rem;
}

.quote blockquote {
  margin-block: 0;
  padding-inline: 4ch;
}

.quote figcaption {
  text-align: right;
  margin-right: 20%;
}

/* Call to action layout */

.action {
  display: flex;
  align-items: center;
  justify-content: space-between;

  gap: 2ch;
  margin: 6rem 15%;
  padding: 3rem 5%;
}

.action h2, .action p {
  margin: 0;
}

.action button {
  flex-shrink: 0;
}

/* Footer layout */

footer {
  padding-block: 2rem;
  text-align: center;
}
