/* Colors */

body {
  --dark: #1F2937;
  --bright: #F9FAF8;
  --off-bright: #E5E7EB;
  --attention: #3882F6;

  background-color: var(--bright);
  color: var(--dark);
}

header, .hero, footer {
  background-color: var(--dark);
  color: var(--off-bright);
}

header h1, .hero h2 {
  color: var(--bright);
}

.quote {
  background-color: var(--off-bright);
}

.action {
  background-color: var(--attention);
  color: var(--bright);
}

button {
  background-color: var(--attention);
  color: var(--bright);
}

/* Font */

body {
  font-family: roboto, sans-serif;
}

header, .hero {
  font-size: 1.125rem;
}

header h1 {
  font-size: 1.5rem;
}

.hero h2 {
  font-size: 3rem;
}

.info h2 {
  font-size: 2.25rem;
}

.quote blockquote {
  font-size: 2.25rem;
  font-style: italic;
}


